<!-- nav_bar.html that controls the navigation bar display -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>

    <link nonce="{{request.csp_nonce}}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Adjusts logo on navigation bar -->
    <style nonce="{{request.csp_nonce}}">
        .navb-logo {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .navb-logo img {
            max-height: 40px;
            max-width: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
<header>
    <div class="container-fluid">

        <div class="navb-logo">

            <!--Probably need to find better picture-->
            {% load static %}
            <img src="{% static 'img/uva_logo.png' %}" alt="Logo">
        </div>

        <div class="navb-items d-none d-xl-flex">

            <!-- Home Page Link -->
            <div class="item">
                <a href="{% url 'schedule:home' %}">Home</a>
            </div>

            <!-- Course Search Link -->
            <div class="item">
                <a href="{% url 'schedule:course_search' %}">Course Search</a>
            </div>

            <!-- Check Submissions (of schedule submission) Link -->
            <!-- Only available to users with Advisor Status -->
            {% if perms.global_permissions.is_advisor %}
                <div class="item">
                    <a href="{% url 'schedule:submissions' %}">Check Submissions</a>
                </div>

                <!-- Schedule Builder Link -->
                <!-- Only available to users with Student Status -->
            {% else %}
                <div class="item">
                    <a href="{% url 'schedule:view_cart' %}">View Cart</a>
                </div>

                <div class="item">
                    <a href="{% url 'schedule:view_schedule' %}">View Schedule</a>
                </div>

                <!-- Logout Link-->
            {% endif %}
            <div class="item-button">
                <a href="{% url 'schedule:logout' %}" type="button">Logout</a>
            </div>

        </div>
    </div>
</header>


<!-- Add the Bootstrap JavaScript -->
<script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>