{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Login</title>

    <!-- Background Image -->
    <style nonce="{{ request.csp_nonce }}">
        body {
            background-image: url('{% static "img/uva.jpg" %}');
        }
    </style>
</head>
<body>


<div class="box">
    <div class="container">
    
            <div class="top">
                <header>Plan-it Pal</header>
            </div>
            
            <!-- Email/Username Field -->
            <div class="input-field">
                <input type="text" class="input" placeholder="email address or username" id="">
                <i class='bx bx-user' ></i>
            </div>

        <!-- Password Field -->
        <div class="input-field">
            <input type="Password" class="input" placeholder="password" id="">
            <i class='bx bx-lock-alt'></i>
        </div>


        <!-- Login Logo -->
        <style nonce="{{ request.csp_nonce }}">
            .regular-login {
                background-image: url('{% static "img/login_logo.png" %}');
            }
        </style>


        <!-- Google Logo -->
        <style nonce="{{ request.csp_nonce }}">
            .google-login {
                background-image: url('{% static "img/google.png" %}'); /* Add your image path and background color here */
            }
        </style>

        <!-- Login Buttons -->
        {% load socialaccount %}
        {% get_providers as socialaccount_providers %}
        <div class="input-field">
            <input type="submit" class="regular-login" value="Login" id="">
                {% for provider in socialaccount_providers %}
                    <a class="google-login" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">Log In With Google</a>
                {% endfor %}
            </div>


            <div class="two-col">
                <div class="one">
                   <input type="checkbox" name="" id="check">
                   <label for="check">Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
        </div>    
</body>
</html>