{% load i18n %}


{% block content %}
<div class="box">
  <div class="container">
    <div class="top">
      <header>Sign Up</header>
    </div>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      Permissions Level:
      <select name="Permissions" id="Permissions">
        <option value="">--Please choose an option--</option>
        <option value="Student">Student</option>
        <option value="Advisor">Advisor</option>
      </select>
      <br>
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

<!-- Background Image -->
{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
rel='stylesheet'>
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
   <title>Login</title>
   <style>
       body {
           background-image: url('{% static "img/uva.jpg" %}');
}
   </style>
</head>
<body>

{% endblock %}
