{% include "nav.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deny Schedule</title>
    <link nonce="{{request.csp_nonce}}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
</head>
<body>
    <div class="container">
        <h1>Deny Schedule</h1>
        <p>Please provide a reason for denying this schedule:</p>
        <form method="POST" action="{% url 'schedule:deny_schedule' schedule.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" name="comments" rows="3" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-danger">Deny Schedule</button>
        </form>
    </div>
</body>
</html>