{% include "nav.html" %}
{% load static %}
{% load no_military %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
{% block content %}
    <div class="container">
        <h2>Your Schedules</h2>
        <div class="row">
            <!-- Schedule Options -->
            <form class="col-md-5 row" action="{% url 'schedule:view_schedule' %}" method="POST">
                {% csrf_token %}
                <select class="form-control col-md-auto" style="width:fit-content" name="title" id="title">
                    {% for title in titles %}
                        <option value={{ title }} {% if schedule.title == title %} selected {% else %} {% endif %}>{{ title }}</option>
                    {% endfor %}
                </select>
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-primary">View</button>
                </div>
            </form>
            <form class="col-md-auto" method="GET" action="{% url 'schedule:rename_schedule' schedule.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Rename</button>
            </form>
            <form class="col-md-auto" method="GET" action="{% url 'schedule:create_schedule' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">New</button>
            </form>
            <form class="col-md-auto" method="GET" action="{% url 'schedule:delete_schedule' schedule.id %}">
                {% csrf_token %}
                <button type="submit" class="delete-btn btn btn-primary">Delete</button>
            </form>
        </div>

        {% if schedule.courses %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Class Number</th>
                    <th>Subject</th>
                    <th>Catalog Number</th>
                    <th>Instructor Name</th>
                    <th>Title</th>
                    <th>Units</th>
                    <th>Days</th>
                    <th>Times</th>
                </tr>
                </thead>
                <tbody>
                {% for course in schedule.courses %}
                    <tr>
                        <td>{{ course.course.class_nbr }}</td>
                        <td>{{ course.course.subject }}</td>
                        <td>{{ course.course.catalog_nbr }}</td>
                        <td>{{ course.course.instructor_name }}</td>
                        <td>{{ course.course.title }}</td>
                        <td>{{ course.course.units }}</td>
                        <td>
                            {% for time in course.all_times %}
                                {{ time.days }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for time in course.all_times %}
                                {{ time.starting_time|no_military }} to {{ time.ending_time|no_military }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            <form method="POST"
                                  action="{% url 'schedule:remove_course_from_schedule' schedule.id course.course.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn bg-danger" data-row-id="{{ course.course.id }}">
                                    X
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Total Units: {{ schedule.total_units }}</h3>
        {% else %}
            <p>Your schedule is empty. <a href="{% url 'schedule:view_cart' %}">Add a course from the cart</a>.</p>
        {% endif %}

        {% if not schedule.submitted and schedule.total_units >= 12 and schedule.courses %}
            <form method="POST" action="{% url 'schedule:submit_schedule' schedule.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit to Advisor</button>
            </form>
        {% elif not schedule.submitted and schedule.total_units < 12 and schedule.courses %}
            <form method="POST" action="{% url 'schedule:submit_schedule' schedule.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit to Advisor</button>
            </form>
            <div class="alert alert-warning" role="alert">
                Your schedule needs more than 12 credits, or you will not be a full-time student!
            </div>
        {% elif schedule.submitted %}
            <div class="alert alert-success" role="alert">
                <p>Your schedule has been submitted to the advisor.</p>

                <form method="POST" action="{% url 'schedule:unsubmit_schedule' schedule.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Unsubmit</button>
                </form>
            </div>
        {% endif %}

        <!-- Schedule Status -->
        <th>Submission Status:</th>
        <td>{{ schedule.status }}</td>

        <!-- Approval Date -->
        {% if schedule.status != "Denied" and schedule.approved_date %}
            <p>Approved on: {{ schedule.approved_date|date:"F j, Y, g:i A" }}</p>
        {% endif %}

        <!-- Denied Date -->
        {% if schedule.status != "Approved" and schedule.denied_date %}
            <p>Denied on: {{ schedule.denied_date|date:"F j, Y, g:i A" }}</p>
        {% endif %}

        <!-- Comment Date -->
        {% if schedule.comment_date %}
            <p>Comment received on: {{ schedule.comment_date|date:"F j, Y, g:i A" }}</p>
        {% endif %}

        <br>

        <!-- Display comment feedback -->
        <th>Comments: </th>
        <td>{{ schedule.comments }}</td>
    </div>
{% endblock %}
</body>
</html>