{% include "nav.html" %}
{% load static %}
{% load no_military %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{% if active_class_messages and not good_message %}
    <div class="alert alert-warning" role="alert">
        {{ class_messages }}
    </div>
{% elif active_class_messages and good_message %}
    <div class="alert alert-success" role="alert">
        {{ class_messages }}
    </div>
{% endif %}
{% block content %}
    <br>
    <div class="container">
        <h2>Your Cart</h2>
        <hr>
        {% for schedule in schedules %}
            {% if schedule.submitted and current_id == schedule.id %}
                <div class="alert alert-danger" role="alert">
                    Schedule {{ schedule.title }} is currently submitted. Adding another class will unsubmit this
                    schedule
                </div>
            {% endif %}
        {% endfor %}
        <form class="row align-items-start" method="POST" action="{% url 'schedule:view_cart' %}">
            {% csrf_token %}
            <label class="col-md-auto" for="schedule_id">Schedule: </label>
            <select class="fit-form form-control col-md-auto" name="schedule_id" id="schedule_id">
                {% for schedule in schedules %}
                    <option value="{{ schedule.id }}" {% if current_id == schedule.id %} selected {% else %} {% endif %}>{{ schedule.title }}</option>
                {% endfor %}
            </select>
            <div class="col-md-auto">
                <button type="submit" class="btn custom-add-btn">Change Schedule</button>
            </div>
        </form>
        {% if courses %}

            <!-- Displays courses added to the cart in a table -->
            <table class="table table-striped">
                <thead>
                <tr>

                    <!-- Table Header Fields -->
                    <th>Class Number</th>
                    <th>Subject</th>
                    <th>Catalog Number</th>
                    <th>Instructor Name</th>
                    <th>Title</th>
                    <th>Units</th>
                    <th>Days</th>
                    <th>Times</th>
                </tr>
                </thead>
                <tbody>
                <!-- Course Data corresponding to Table Header Fields-->
                {% for course in courses %}
                    <tr id="row_{{ course.id }}">
                        <td>{{ course.course.class_nbr }}</td>
                        <td>{{ course.course.subject }}</td>
                        <td>{{ course.course.catalog_nbr }}</td>
                        <td>{{ course.course.instructor_name }}</td>
                        <td>{{ course.course.title }}</td>
                        <td>{{ course.course.units }}</td>
                        <td>
                            {% for time in course.all_times %}
                                {% if time %}
                                    {{ time.days }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for time in course.all_times %}
                                {% if time.starting_time and time.ending_time %}
                                    {{ time.starting_time|no_military }} to {{ time.ending_time|no_military }}<br>
                                {% else %}
                                    Asynchronous<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>

                            <!-- Add (from Cart) to Schedule Button -->
                            <form method="POST"
                                  action="{% url 'schedule:add_to_schedule' current_id course.course.id %}"
                                  class="d-inline-block mr-5">
                                {% csrf_token %}
                                <button type="submit" class="btn add-to-schedule custom-add-btn"
                                        data-row-id="{{ course.id }}">Add to Schedule
                                </button>
                            </form>

                            <!-- Remove (from Cart) Button -->
                            <form method="POST" action="{% url 'schedule:remove_course' course.course.id current_id %}"
                                  class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" class="btn remove-course custom-remove-btn"
                                        data-row-id="{{ course.id }}">Remove from Cart
                                </button>
                            </form>

                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

            <!-- Notify user that the cart is currently empty -->
        {% else %}
            <p>Your cart is empty. Please add a course to continue.</p>
        {% endif %}
    </div>
{% endblock %}

{#    <!-- Javascript to add fade out effect when selecting buttons -->#}
{#    <script>#}
{##}
{#        //Turns "Add to Schedule" button green upon being clicked and then fades out the whole row#}
{#        $(document).ready(function() {#}
{#            $(".add-to-schedule").click(function(event) {#}
{#                event.preventDefault();#}
{#                var rowId = $(this).data("row-id");#}
{#                var $row = $("#row_" + rowId);#}
{#                var $button = $(this);#}
{#                var $form = $button.parent();#}
{##}
{#                $button.addClass("custom-add-btn-clicked");#}
{##}
{#                $row.fadeOut(2000, function() {#}
{#                    $row.remove();#}
{#                    $.ajax({#}
{#                        url: $form.attr('action'),#}
{#                        method: 'POST',#}
{#                        data: $form.serialize(),#}
{#                        beforeSend: function(xhr) {#}
{#                            xhr.setRequestHeader('X-CSRFToken', $form.find('input[name="csrfmiddlewaretoken"]').val());#}
{#                        },#}
{#                        success: function() {#}
{#                        },#}
{#                        error: function() {#}
{#                        }#}
{#                    });#}
{#                });#}
{#            });#}
{##}
{#            //Turns "Remove from Cart" button red upon being clicked and then fades out the whole row#}
{#            $(".remove-course").click(function(event) {#}
{#                event.preventDefault();#}
{#                var rowId = $(this).data("row-id");#}
{#                var $row = $("#row_" + rowId);#}
{#                var $form = $(this).parent("form");#}
{##}
{#                $(this).addClass("custom-remove-btn-clicked");#}
{##}
{#                $row.fadeOut(2000, function() {#}
{#                    $row.remove();#}
{#                    $.ajax({#}
{#                        url: $form.attr('action'),#}
{#                        method: 'POST',#}
{#                        data: $form.serialize(),#}
{#                        beforeSend: function(xhr) {#}
{#                            xhr.setRequestHeader('X-CSRFToken', $form.find('input[name="csrfmiddlewaretoken"]').val());#}
{#                        },#}
{#                        success: function() {#}
{#                        },#}
{#                        error: function() {#}
{#                        }#}
{#                    });#}
{#                });#}
{#            });#}
{#        });#}
{##}
{#    </script>#}

</body>
</html>
